{% extends 'base.html' %}
{% block content %}

<h2 class="fw-bold mb-4">👥 Registered Users</h2>

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>User ID</th>
            <th>Username</th>
            <th>Date Joined</th>
            <th>Last Login</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.date_joined|date:"d M Y" }}</td>
            <td>{{ user.last_login|date:"d M Y" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}